/*Universel*/
#global
{
  background-color: #4A192C;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
header
{
  background-color: #4A192C;
  width: 100%;
  height: 120px;
  /*Disposition fixe du header, pour être visible en scrollant*/
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
}
#corps
{
  /*Décallage par rapport au haut de la page pour garder le contenu visible*/
  margin-top: 120px;
}
section
{
  background-color: #6B0328;
  width: 100%auto;
  height: 100%auto;
  margin: 5%;
}
footer
{
  background-color: #6B0328;
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
a   /*Format des liens non visités*/
{
  color:#DF0101;
  font-family: calibri;
  font-size: 14px;
  text-decoration: none;
}
a:visited   /*Format des liens après que l'utilisateur l'ait ouvert*/
{
  color : #0B615E;
  text-decoration: none;
}
h2
{
    text-align: center;
    font-family: calibri;
    font-size: 24px;
    text-decoration: underline;
}
h3
{
  font-family: impact;
  font-size: 18px;
}
p
{
  margin-left: 10px;
  margin-right: 10px;
}
p, td, li
{
  font-family: calibri;
  font-size: 14px;
}

/*Page d'accueil*/
#header_home /*Le .header ne fonctionne pas sur la page d'accueil*/
{
 background-color: #4A192C;
 width: 100%;
 height: 120px;
 display: flex;
 justify-content: flex-start;
 position: fixed;
 top: 0;
 left: 0;
}
.logo_accueil
{
  height: 120px;
  width : 120px;
  margin-left : 17.5px;
  margin-right: 100px;
}
.banner
{
  width: 70%;
  height: 100%;
}
.frise
{
  text-align: center;
  margin: 2%;
}

/*Pages articles*/
.logo
{
  height: 85px;
  width : 85px;
  margin-left: 5%;
  margin-top: center;
  margin-top: 15px;
  float : left;
}
.menu
{
  width: 70%;
  margin-left: 20% ;
}
.article
{
  background-color: white;
  margin: 5%;
  padding: 2%;
}
.PhotoPosition
{
  width: 250px;
  margin-bottom: 5%;
  margin-left: 5%;
  float:right;
}
.titre_page
{
  background-color: white;
  padding: 1%;
  margin: 3%;
}

/*Page Contacts*/
#logo_iut
{
  text-align: center;
  margin-top: 8%;
  margin: 3%;
}
#logo_universite
{
  text-align: center;
  margin-bottom: 8%;
  margin : 3%;
}
table, th, td
{
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}

/*Page Test_Captcha*/
#captcha
{
  text-align: center;
  margin-top: 10%;
}
